﻿@model WebApplication9.Pildid

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>Pildid</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.nimi)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.nimi)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.pilt)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.pilt)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.kood }) |
    @Html.ActionLink("Back to List", "Index")
</p>
