﻿@model IEnumerable<WebApplication9.Pildid>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.nimi)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.pilt)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model
    .OrderBy(x => int.Parse(x.nimi.Split('(')[1].Split(')')[0]))
    ) 
    {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.nimi)
        </td>
        <td>
            @*@Html.DisplayFor(modelItem => item.pilt)*@
            <img src="~/Pildid/@item.nimi" alt="" height="600"/>
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.kood }) |
            @Html.ActionLink("Details", "Details", new { id=item.kood }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.kood })
        </td>
    </tr>
}

</table>
